[Unit]
Description=XLXEcho Service
After=xlxd.service
BindsTo=xlxd.service

[Service]
ExecStart=/xlxd/xlxecho ECHO 127.0.0.1
Restart=always
User=root
WorkingDirectory=/xlxd
StandardOutput=append:/var/log/xlxecho.log
StandardError=append:/var/log/xlxecho.log

[Install]
WantedBy=multi-user.target xlxd.service
